<ion-modal-view cache-view="false" class="add-utility">
    <ion-header-bar class="bar bar-header bar-dark">
        <h1 class="title">Utility</h1>
        <button class="button button-clear button-primary"
                ng-click="modal.hide()">Cancel
        </button>
    </ion-header-bar>
    <ion-content class="padding">
        <form novalidate name="myform">
            <div class="list">
                <label class="item item-input item-stacked-label"
                       ng-class="{'red-bottom': myform.name.$invalid && myform.name.$touched,
                    'green-bottom': myform.name.$valid && myform.name.$touched}">
                    <span class="input-label">Name&nbsp;*</span>
                    <input type="text"
                           ng-model="utility.name"
                           name="name"
                           ng-required="true"/>
                </label>
                <p class="error" ng-show="myform.name.$invalid && myform.name.$touched">
                    Please enter valid Utility Name
                </p>

                <label class="item item-input item-stacked-label"
                       ng-class="{'red-bottom': myform.date.$invalid && myform.date.$touched,
                    'green-bottom': myform.date.$valid && myform.date.$touched}">
                    <span class="input-label">Due Date&nbsp;*</span>
                    <input type="date"
                           ng-model="utility.dueDate"
                           value="{{utility.dueDate | date:'yyyy-MM-dd'}}"
                           name="date"
                           ng-required="true"/>
                </label>
                <p class="error" ng-show="myform.date.$invalid && myform.date.$touched">
                    Please select valid due date
                </p>

                <br>
                <div class="text-center">
                    <button class="button button-dark submit-button"
                            ng-disabled="myform.$invalid"
                            ng-click="addUtility(utility)">Save
                    </button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
