<ion-view name="appView" cache-view="false" class="home">
    <ion-side-menus enable-menu-with-back-views="false">
        <ion-side-menu-content>

            <ion-nav-bar class="bar-dark" align-title="center">
                <ion-nav-back-button></ion-nav-back-button>
                <ion-nav-buttons side="left">
                    <button class="button button-icon button-clear ion-navicon"
                            menu-toggle="left">
                    </button>
                </ion-nav-buttons>
            </ion-nav-bar>

            <ion-tabs class="tabs-color-stable tabs-background-dark tabs-icon-top">
                <ion-tab title="Credit Cards"
                         icon-on="ion-social-usd"
                         icon-off="ion-social-usd-outline"
                         ui-sref="app.home.creditcards">
                    <ion-nav-view name="creditcardsView"></ion-nav-view>
                </ion-tab>
                <ion-tab title="Categories"
                         icon-on="ion-ios-filing"
                         icon-off="ion-ios-filing-outline"
                         ui-sref="app.home.categories">
                    <ion-nav-view name="categoriesView"></ion-nav-view>
                </ion-tab>
                <ion-tab icon-on="ion-plus"
                         icon-off="ion-plus"
                         ui-sref="app.home.add-transaction">
                    <ion-nav-view name="addTransactionView"></ion-nav-view>
                </ion-tab>
                <ion-tab title="Reminders"
                         icon-on="ion-ios-alarm"
                         icon-off="ion-ios-alarm-outline"
                         ui-sref="app.home.reminders">
                    <ion-nav-view name="remindersView"></ion-nav-view>
                </ion-tab>
                <ion-tab title="All transactions"
                         icon-on="ion-ios-list"
                         icon-off="ion-ios-list-outline"
                         ui-sref="app.home.transactions">
                    <ion-nav-view name="transactionsView"></ion-nav-view>
                </ion-tab>
                <ion-tab class="tab-hidden">
                    <ion-nav-view name="sideCardsView"></ion-nav-view>
                </ion-tab>
                <ion-tab class="tab-hidden">
                    <ion-nav-view name="sideCategoryView"></ion-nav-view>
                </ion-tab>
                <ion-tab class="tab-hidden">
                    <ion-nav-view name="sideUtilitiesView"></ion-nav-view>
                </ion-tab>
                <ion-tab class="tab-hidden">
                    <ion-nav-view name="sideUserView"></ion-nav-view>
                </ion-tab>
                <ion-tab class="tab-hidden">
                    <ion-nav-view name=""></ion-nav-view>
                </ion-tab>
            </ion-tabs>
        </ion-side-menu-content>

        <ion-side-menu side="left">
            <ion-header-bar class="bar-dark" style="height:125px;">
                <div class="img-center">
                    <div ng-if="!vm.userInfo[2].$value"
                         class="item-icon-center icon-circle">
                        <i class="icon ion-person"
                           ng-click="vm.gotToUserProfile()"></i>
                    </div>
                    <div ng-if="vm.userInfo[2].$value">
                        <img ng-click="vm.gotToUserProfile()"
                             class="user-image"
                             ng-src="data:image/gif;base64,{{vm.userInfo[2].$value}}"/>
                    </div>
                    <div class="textCenter" ng-click="vm.gotToUserProfile()">{{vm.userInfo[0].$value}}</div>
                </div>
            </ion-header-bar>
            <ion-content style="top:125px;">
                <ion-list>
                    <ion-item menu-close ui-sref="app.home.category">
                        Categories
                    </ion-item>
                    <ion-item menu-close ui-sref="app.home.cards">
                        Credit Cards
                    </ion-item>
                    <ion-item menu-close ui-sref="app.home.utilities">
                        Utilities
                    </ion-item>
                    <ion-item ng-click="vm.logout()" style="color: red;">
                        Log Out
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-side-menu>

    </ion-side-menus>
</ion-view>
