<div class="svs-grid list">
    <div class="item svs-item"
         ng-repeat="item in svsGridVm.data | orderBy:svsGridVm.sortBy"
         ng-class-odd="'dark-item'">
        <div class="row no-left-margin">
            <div class="col-75">
                <div class="row row-top no-left-margin">
                    <div class="col-50">{{item.description}}</div>
                    <div class="col-50">{{item.category.name}}</div>
                </div>
                <div class="row row-bottom no-left-margin">
                    <div class="col-50">{{item.date | date}}</div>
                    <div class="col-50 ellipsis">{{item.card.name}}</div>
                </div>
            </div>
            <div class="col-25 text-right amount">${{item.amount}}</div>
        </div>
    </div>
</div>
