<ion-modal-view cache-view="false" class="add-category">
    <ion-header-bar class="bar bar-header bar-dark">
        <h1 class="title">Category</h1>
        <button class="button button-clear button-primary"
                ng-click="modal.hide()">Cancel
        </button>
    </ion-header-bar>
    <ion-content class="padding">
        <form novalidate name="myform">
            <div class="list">
                <label class="item item-input item-stacked-label"
                       ng-class="{'red-bottom': myform.name.$invalid && myform.name.$touched,
                    'green-bottom': myform.name.$valid && myform.name.$touched}">
                    <span class="input-label">Name&nbsp;*</span>
                    <input type="text"
                           ng-model="category.name"
                           name="name"
                           ng-required="true"/>
                </label>
                <p class="error" ng-show="myform.name.$invalid && myform.name.$touched">
                    Please enter valid Category Name
                </p>

                <label class="item item-input item-stacked-label"
                       ng-class="{'red-bottom': myform.amount.$invalid && myform.amount.$touched,
                    'green-bottom': myform.amount.$valid && myform.amount.$touched}">
                    <span class="input-label">Budget&nbsp;*</span>
                    <input type="number"
                           ng-model="category.budget"
                           name="amount"
                           ng-required="true"/>
                </label>
                <p class="error" ng-show="myform.amount.$invalid && myform.amount.$touched">
                    Please enter valid budget
                </p>

                <br>
                <div class="text-center">
                    <button class="button button-dark submit-button"
                            ng-disabled="myform.$invalid"
                            ng-click="addCategory(category)">
                        Save
                    </button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
