<ion-view view-title="Category Settings">
    <ion-content>
        <div class="item item-divider" ng-class="{ 'row': vm.usersCategories.length}">
            <div ng-if="vm.usersCategories.length">
                <span ng-click="vm.data.showDelete = !vm.data.showDelete;">
                    <span ng-if="!vm.data.showDelete">Delete</span>
                    <span ng-if="vm.data.showDelete">Done</span>
                </span>
            </div>
            <div ng-style="{'padding-left': vm.usersCategories.length ? '100px': 0}">
                <span>My Categories</span>
            </div>
            <div ng-if="vm.usersCategories.length" class="item-icon-right">
                <i class="icon ion-ios-plus-outline"
                   ng-click="vm.openAddModal()"></i>
            </div>
        </div>
        <ion-list show-delete="vm.data.showDelete" can-swipe="true">
            <ion-item ng-repeat="category in vm.usersCategories">
                {{category.name}}
                <ion-delete-button class="ion-minus-circled"
                                   ng-click="vm.deleteCategory(category)">
                </ion-delete-button>
                <span class="item-note"
                      ng-if="!vm.data.showDelete"
                      style="margin-right: -40px;"
                      ng-click="vm.openEditModal(category)">Budget ${{category.budget}}&nbsp;
                      <i class="icon ion-chevron-right">
                      </i>
                </span>
                <span ng-if="vm.data.showDelete"
                      class="item-note"
                      style="margin-right: 10px;">Budget ${{category.budget}}
                </span>
            </ion-item>
        </ion-list>
        <div class="row" style="margin-left:0;">
            <div class="col text-center">
                <button class="button button-outline button-dark"
                        ng-click="vm.openAddModal()">Add Category
                </button>
            </div>
        </div>
        <ion-list>
            <div class="item item-divider">
                Suggested Categories
            </div>
            <ion-item ng-repeat="category in vm.suggestedCategories">
                <div class="item-icon-right">{{category}}
                    <i class="icon ion-ios-plus"
                       ng-click="vm.openAddModal(category)"></i>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
