.app {
    .logo {
        display: block;
        position: relative;
        width: 60%;
        margin: 0 auto;
    }
    .logoText {
        text-align: center;
        font-size: 28px;
        font-family: fantasy;
    }
    .item-note {
        font-size: 10px;
        margin-top: -22px;
        margin-right: -35px;
    }
    .textCenter {
        text-align: center;
    }

}

.transactions-page, .reminder-page {
    .svs-grid {
        .svs-item {
            .no-left-margin {
                margin-left: 0 !important;
                margin-right: 0 !important;
            }
            border: 1px solid black;
            .amount {
                font-size: 200%;
            }
            .date {
                font-size: 150%;
            }
        }
        .dark-item {
            background: $stable;
        }
    }
}
