$dark-item: #f0f0f0 !default;


.card-title{
    background: #145486;
    color: #fff;
}
.app {
    .logo {
        display: block;
        position: relative;
        width: 60%;
        margin: 0 auto;
    }
    .logoText {
        text-align: center;
        font-size: 28px;
        font-family: fantasy;
    }
    .textCenter {
        text-align: center;
    }

}

.home {
    .user-image{
        border-radius: 50%;
        border:1px solid #145486;
        height: 75px;
        width: 75px;
    }
    .img-center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.side-user {
    .user-image {
        border-radius: 50%;
        border: 1px solid #145486;
        height: 100px;
        width: 100px;
    }
    .img-center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .edit-photo {
        font-size: 13px;
        color: #145486;
    }
}

.signup {
    label {
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
    }

    .red-bottom {
        border-bottom: 1px solid red;
    }

    .green-bottom {
        border-bottom: 1px solid green;
    }

    .error {
        color: red;
    }

    .create-button {
        width: 150px;
        height: 50px
    }
}

.add-transaction {
    label {
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
    }

    .list {
        padding: 10px;
    }

    .red-bottom {
        border-bottom: 1px solid red;
    }

    .green-bottom {
        border-bottom: 1px solid green;
    }

    .error {
        color: red;
    }

    .submit-button {
        width: 150px;
        height: 50px
    }
}

.icon-circle {
    width: 75px;
    height: 75px;
    font-size: 50px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #ebebeb;
    background: rgb(0, 161, 225);
    color: #fff;
    text-align: center;
}

.ion-plus {
    border: 1px solid;
    margin-top: 7px !important;
}

.transactions-page, .reminder-page {
    .svs-grid {
        .svs-item {
            .no-left-margin {
                margin-left: 0 !important;
                margin-right: 0 !important;
            }
            border: 1px solid black;
            .amount {
                font-size: 200%;
            }
            .days {
                font-size: 130%;
                .due-in {
                    color: $balanced;
                }
                .due-today {
                    color: $energized;
                }
                .due-since {
                    color: $assertive;
                }
            }
            .item-content {
                padding: 8px 10px;
                .row-bottom {
                    padding: 5px;
                }
            }
        }
        .dark-item {
            background: $dark-item;
        }

    }
}

.reminder-popover {
    top: 20% !important;
    left: 50% !important;
    margin-left: -110px !important;
    height: 220px;
    border: none;
    .item {
        border: none;
    }
    .popover-controls {
        margin: 0px -10px 0px 20px;
    }

}

.popover-arrow {
    visibility: hidden;
}

.background-transparent, .background-transparent .activated {
    background: transparent;
}
