/* Rules for sizing the icon. */
.md-18 { font-size: 18px !important; }
.md-24 { font-size: 24px !important; }
.md-36 { font-size: 36px !important; }
.md-48 { font-size: 48px !important; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54) !important; }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26) !important; }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1) !important; }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3) !important; }

.material-icons:hover {cursor: pointer;}
